
<div class="page-header">
  <h1>New Location</h1>
</div>

<ul class="breadcrumb">
  <li><%= link_to "Locations", locations_path %></li>
  <li class="active">New Event</li>
</ul>

<%= render "form" %>
